<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>LLN - Instructions</title>
    <meta name="description" content="Language Learning with Youtube - Instructions">
    <meta name="author" content="LLY">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="lln-logo-small.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Maiden+Orange|Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
<style>
    body {
        font-family: 'Roboto', sans-serif;
        color: #333;
        overflow-y: scroll;
        padding: 40px;
        margin: 0;
        box-sizing: border-box;
        font-size: 17px;
    }
    .page-wrap {
        max-width: 1150px;
        margin: 0 auto;
    }
    table, tr, td, th {
        border: 1px solid #ddd;
        border-collapse: collapse;
    }
    h2 {
        margin-top: 30px;
    }
    td, th {
        padding: 10px;
    }
    .title {
        font-weight: bold;
    }
    .title a {
        text-decoration: none;
        color: black;
    }
    /*.main-title {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*}*/
    @media (min-width: 1100px) {
        .main-title {
            flex-direction: row;
            align-items: center;
        }
        .main-title h1 {
            flex-grow: 1;
        }
        .main-title iframe {
            flex-grow: 0;
        }
    }
    .synopsis a {
        text-decoration: none;
        color: black;
    }
    .filters {
        margin: 30px 0 20px;
        display: flex;
        align-items: center;
    }
    select {
        padding: 10px 15px;
        margin-right: 10px;
        width: 180px;
    }
    .results-count {
        margin-left: 14px;
    }
    .center {
        text-align: center;
    }
    .mt10 {
        margin-top: 10px;
    }
    h1 {
        font-size: 40px;
        font-weight: 500;
        font-family: "Maiden Orange";
        /*display: flex;*/
        align-items: center;
        color: #666;
        margin-top: 10px;
        clear: both;
    }
    .logo { 
        width: 48px;
        height: auto;
        margin-right: 15px;
        position: relative;
        top: 3px;
    }
    .info-baloon {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 17px;
        box-sizing: border-box;
    }
    .button-raised {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        padding: 11px 17px 11px 24px;
        border-radius: 4px;
        transition: background .2s;
        cursor: pointer;
        display: inline-block;
    }
    .button-raised:hover {
        background: #f7f7f7;
    }
    .heading-link a {
        font-size: 22px;
        color: #c3819c;
    }
    .lang-select {
        float: right;
        width: 150px;
        border-radius: 6px;
        padding-left: 33px;
    }
    .lang-select-icon {
        float: right;
        padding: 8px 0;
        opacity: .5;
        position: relative;
        left: 31px;
        pointer-events: none;
    }
    [v-cloak] {display: none}
</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132852687-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132852687-1');
    </script>
    <!-- end Google Analytics -->

</head>

<body>
<div class="page-wrap" id="app" v-cloak>
    <select v-model="lang" class="lang-select">
      <option value="en">English</option>
      <option value="ko">Korean</option>
      <option value="ja">Japanese</option>
      <option value="tr">Turkish</option>
      <option value="th">Thai</option>
      <option value="zh-TW">Chinese Trad.</option>
    </select>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 512 512" class="lang-select-icon">
    <path d="M256 0c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256zM256 480.001c-31.479 0-61.436-6.506-88.615-18.226l116.574-131.145c2.603-2.929 4.041-6.711 4.041-10.63v-48c0-8.837-7.163-16-16-16-56.495 0-116.102-58.731-116.687-59.313-3-3.001-7.070-4.687-11.313-4.687h-64c-8.836 0-16 7.164-16 16v96c0 6.061 3.424 11.601 8.845 14.311l55.155 27.578v93.943c-58.026-40.478-96-107.716-96-183.832 0-34.357 7.745-66.903 21.569-96h58.431c4.244 0 8.313-1.686 11.314-4.686l64-64c3-3.001 4.686-7.070 4.686-11.314v-38.706c20.281-6.037 41.759-9.294 64-9.294 35.203 0 68.502 8.13 98.141 22.6-2.072 1.751-4.088 3.582-6.023 5.518-18.133 18.132-28.118 42.239-28.118 67.882s9.985 49.75 28.118 67.882c18.217 18.216 42.609 28.132 67.817 28.13 1.583 0 3.171-0.040 4.759-0.118 6.907 25.901 19.376 93.328-4.202 186.167-0.222 0.872-0.348 1.744-0.421 2.612-40.662 41.54-97.35 67.328-160.071 67.328z"></path>
    </svg>
    <div v-if="showConfig" style="text-align: center;">
        <h1 style="text-align: center; display: block; color: #c3819c;">{{translate('llnTitle')}}</h1>
        <p style="text-align: center; margin-top: 60px;">{{translate('selectNativeLang')}}</p>
        <vue-multiselect style="width: 290px; margin: 0 auto;" v-model="nativeLangCode_G" track-by="val" label="name" :show-labels="false" :allow-empty="false" :options="nativeLangCodes_G"></vue-multiselect>
        <span class="button-raised" style="margin: 45px auto; padding: 12px 30px" @click="doContinue()">{{translate('continue')}}</span>
    </div>
    <div v-if="showSetupComplete" style="text-align: center; padding: 0 30px 30px; max-width: 600px; margin: 0 auto; ">
        <h1 style="display: block; margin-bottom: 35px; ">{{translate('success')}}</h1>
        <p>{{translate('successText1')}}</p>
        <p>{{translate('successText2')}}</p>
    </div>
    <div v-if="!showConfig">
        <div class="main-title">
            <h1 style="text-align: center;">
                {{translate('howToUse')}}
            </h1>
        </div>

        <div style="text-align: center; padding: 0 0 50px;">
            <iframe style="max-width: 100%; display: inline-block;" width="800" height="420" src="https://www.youtube.com/embed/OmBk6ZDPVcg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <h2 style="text-align: center; margin-top: 10px; margin-bottom: 35px;">{{translate('howToFindVideos')}}</h2>
        <p>{{translate('youtubeSearch1')}}</p>
        <img src="youtube_search.jpg" style="width: 100%; margin: 20px 0;
}

;">
        <p>{{translate('youtubeSearch2')}}</p>
        <p>{{translate('youtubeSearch3')}} <a href="youtube_language_instructions.html" target="_blank">{{translate('youtubeSearch4')}}</a></p>

        <h2 style="text-align: center; margin-top: 50px; margin-bottom: 0px;">{{translate('studyingWithVideo')}}</h2>
        <div class="img-overlay" id="info-img" style="position: relative; overflow: hidden; margin-bottom: 30px;">
            <img src="youtube_scr_v4.jpg" style="width: 100%;">
            <div class="info-baloon"
                 style="position: absolute; left: 17.5%; top: 79.2%; width: 32.3%; height: 19.2%;">
                {{translate('enableDisableLLN')}}
            </div>
            <div class="info-baloon"
                 style="position: absolute; left: 9.7%; top: 50.2%; width: 22.2%; height: 14.3%;">
                {{translate('llnOptions')}}
            </div>
            <div class="info-baloon"
                 style="position: absolute; left: 36.5%; top: 25%; width: 22%; height: 25%;">
                {{translate('llnDict')}}
            </div>
<!--             <div class="info-baloon"
                 style="position: absolute; left: 81%; top: 28%; width: 17%; height: 28%;">
                {{translate('llnPausePlayback')}}
            </div> -->
        </div>
        <script>
            // update info balloons font size
            let updateFontSize = function () {
                setTimeout(function() {
                    let img = document.getElementById('info-img');
                    let elements = document.getElementsByClassName('info-baloon');
                    for (let i = 0; i < elements.length; i++) {
                        elements[i].style.fontSize = (img.clientWidth / 52) + 'px';
                    }
                });
            };
            window.addEventListener('resize', updateFontSize);
            updateFontSize();
        </script>

        <p style="margin-top: 50px;">{{translate('llnKeyboardIntro')}} </p>

        <ul style="margin-bottom: 30px;">
            <li>{{translate('llnKeyboard1')}}</li>
            <li>{{translate('llnKeyboard2')}}</li>
            <li>{{translate('llnKeyboard3')}}</li>
            <li>{{translate('llnKeyboard4')}}</li>
        </ul>

        <img src="keys.jpg" style="max-width: 600px; display: block; margin-left: 0; margin-right: auto; ">

        <p style="margin: 35px 0 25px;">{{translate('llnKeyboardOuttro')}} </p>
        
        <img src="youtube_scr_2.png" style="width: 100%; display: block; box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 9px 0px;     margin-bottom: 40px;">
        
        <h2 class="heading-link">
            <a href="youtube_catalogue.html" target="_blank">
                {{translate('catalogue')}}
                <svg style="position: relative; left: 2px; top: 1px; opacity: .7;" width="18px" height="18px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="external_link" class="icon_svg-stroke" stroke="#c3819c" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
                        <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
                    </g>
                </svg>
            </a>
        </h2>

        <p>{{translate('catalogueText')}}</p>
<!--        <p>{{translate('catalogueText2')}} <img style="width: 30px; position: relative; top: 8px; left: 5px;" src="lln-logo-small.png" alt="logo" class="logo"></p>-->

        <h2 class="heading-link">
            <a href="more_info.html" target="_blank">
                {{translate('moreInfo')}}
                <svg style="position: relative; left: 2px; top: 1px; opacity: .7;" width="18px" height="18px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="external_link" class="icon_svg-stroke" stroke="#c3819c" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline>
                        <path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path>
                    </g>
                </svg>
            </a>
        </h2>

        <p>{{translate('moreInfoText')}}
        </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-multiselect@2.0.8"></script>

<script>
    function getQueryParams() {
        var qs = document.location.search;
        qs = qs.split("+").join(" ");
        var params = {}, tokens,
            re = /[?&]?([^=]+)=([^&]*)/g;
        while (tokens = re.exec(qs)) {
            params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
        }
        return params;
    }
    Vue.component('vue-multiselect', window.VueMultiselect.default);
    new Vue({
        el: '#app',
        created: function(){
            updateFontSize();
            
            // try get ui and dropdown lang from hash, or navigator.language
            let lang = navigator.language;
            let langObj = this.nativeLangCodes_G.filter(o => o.val === lang);
            if (!langObj || !langObj.length) {
                langObj = this.nativeLangCodes_G.filter(o => o.val === lang.split('-')[0]);
            }
            if (langObj && langObj.length) {
                this.nativeLangCode_G = langObj[0];
                if (this.translations.llnTitle[langObj[0].val]) {
                    this.lang = langObj[0].val;
                }
            }

            // show config
            this.showConfig = false;
            this.showSetupComplete = !!(this.getHashValue('showConfig'));
            // remove showConfig hash
            this.setHashValue('showConfig', '');
        },
        methods: {
            translate: function (key) {
                return this.translations[key][this.lang] || this.translations[key]['en'];
            },
            doContinue: function(){
                document.cookie = "nativeLangCode_G" + "=" + this.nativeLangCode_G.val + "; path=/; expires=2147483647";
                this.showConfig = false;
                this.showSetupComplete = true;
                updateFontSize();
            },
            getHashValue: function (key) {
                var hash = location.hash.match(new RegExp(key + '=([^&]*)'));

                if (location.hash && hash) {
                    return decodeURI(hash[1]);
                }

                return null;
            },
            setHashValue: function (key, value) {
                key = encodeURI(key); value = encodeURI(value);

                var kvp = location.hash.substr(1).split('&');
                if (! location.hash) {
                    kvp = [];
                }
                var i = kvp.length; var x; while(i--){
                    x = kvp[i].split('=');

                    if (x[0] == key){
                        if (value) {
                            x[1] = value;
                            kvp[i] = x.join('=');
                            break;
                        } else {
                            kvp.splice(i, 1);
                            break;
                        }
                    }
                }

                if(i < 0 && value) {
                    kvp[kvp.length] = [key,value].join('=');
                }

                document.location.hash = '#' + kvp.join('&');
            }
        },
        data: {
            lang: 'en',
            showConfig: false,
            showSetupComplete: false,
            nativeLangCode_G: {val: 'en', name: 'English'},
            nativeLangCodes_G: [
                { val:"af", name:"Afrikaans"},
                { val:"ar", name:"Arabic (العربية)"},
                { val:"bn", name:"Bengali (বাংলা)"},
                { val:"bs", name:"Bosnian (bosanski)"},
                { val:"bg", name:"Bulgarian (български)"},
                { val:"ca", name:"Catalan (català)"},
                { val:"zh-CN", name:"Chinese Simplified (中文简体)"},
                { val:"zh-TW", name:"Chinese Traditional (中文繁體)"},
                { val:"hr", name:"Croatian (Hrvatski)"},
                { val:"cs", name:"Czech (čeština)"},
                { val:"da", name:"Danish (dansk)"},
                { val:"nl", name:"Dutch (Nederlands)"},
                { val:"en", name:"English"},
                { val:"et", name:"Estonian (eesti keel)"},
                { val:"tl", name:"Filipino"},
                { val:"fi", name:"Finnish (suomi)"},
                { val:"fr", name:"French (français)"},
                { val:"de", name:"German (Deutsch)"},
                { val:"el", name:"Greek (ελληνικά)"},
                { val:"ht", name:"Haitian Creole (Kreyòl ayisyen)"},
                { val:"iw", name:"Hebrew (עברית)"},
                { val:"hi", name:"Hindi (हिन्दी)"},
                { val:"hmn", name:"Hmong"},
                { val:"hu", name:"Hungarian (magyar)"},
                { val:"is", name:"Icelandic (Íslenska)"},
                { val:"id", name:"Indonesian (Bahasa)"},
                { val:"it", name:"Italian (italiano)"},
                { val:"ja", name:"Japanese (日本語)"},
                { val:"ko", name:"Korean (한국어)"},
                { val:"lv", name:"Latvian (latviešu valoda)"},
                { val:"lt", name:"Lithuanian (lietuvių kalba)"},
                { val:"mg", name:"Malagasy (Fiteny Malagasy)"},
                { val:"ms", name:"Malay (Bahasa melayu)"},
                { val:"mt", name:"Maltese (Malti)"},
                { val:"no", name:"Norwegian (Norsk)"},
                { val:"fa", name:"Persian (فارسى)"},
                { val:"pl", name:"Polish (polski)"},
                { val:"pt", name:"Portuguese (português)"},
                { val:"ro", name:"Romanian (limba română)"},
                { val:"ru", name:"Russian (Русский)"},
                { val:"sr", name:"Serbian (српски)"},
                { val:"sk", name:"Slovak (slovenčina)"},
                { val:"sl", name:"Slovenian (slovenščina)"},
                { val:"es", name:"Spanish (español)"},
                { val:"sw", name:"Swahili (Kiswahili)"},
                { val:"sv", name:"Swedish (Svenska)"},
                { val:"ta", name:"Tamil (தமிழ்)"},
                { val:"te", name:"Telugu (తెలుగు)"},
                { val:"th", name:"Thai (ภาษาไทย)"},
                { val:"tr", name:"Turkish (Türkçe)"},
                { val:"uk", name:"Ukrainian (Українська)"},
                { val:"ur", name:"Urdu (اردو)"},
                { val:"vi", name:"Vietnamese (tiếng việt)"},
                { val:"cy", name:"Welsh (Cymraeg)"}
            ],
            translations: {
                'llnTitle': {
                    'en': 'Language Learning with Youtube',
                    'ko': 'Language Learning with Youtube',
                    'zh-TW': '使用Youtube進行語言學習（LLY）',
                    'ja': 'Youtube で言語学習',
                    'th': 'Language Learning with Youtube',
                    'tr': 'Language Learning with Youtube'
                },
                'selectNativeLang': {
                    'en': 'Please select your native language：',
                    'ko': '모국어를 선택하세요',
                    'zh-TW': '請選擇您的母語：',
                    'ja': '母国語を選択してください',
                    'th': 'โปรดเลือกภาษาแม่ของคุณ:'
                },
                'selectTargetLang': {
                    'en': 'The language you are learning：',
                    'ko': '배울 언어를 선택하세요',
                    'zh-TW': '您正在學習的語言：',
                    'ja': '学習言語',
                    'th': 'ภาษาที่คุณกำลังเรียน:'
                },
                'continue': {
                    'en': 'CONTINUE',
                    'ko': '계속',
                    'zh-TW': '繼續',
                    'ja': '続行',
                    'th': 'ดำเนินการต่อ'
                },
                'success': {
                    'en': 'Setup complete！',
                    'ko': '설정 완료!',
                    'zh-TW': '設定完成！',
                    'ja': 'セットアップ完了！',
                    'th': 'การตั้งค่าเสร็จสิ้นแล้ว!',
                    'tr': 'Kurulum tamamlandı'
                },
                'successText1': {
                    'en': 'Now when you open a video on Youtube (using the Chrome browser), you will have new features that are helpful for studying languages.',
                    'ko': '이제 (Chrome 브라우저를 사용하여) YouTube에서 비디오를 실행하시면 언어 학습에 유용한 새로운 기능을 확인하실 수 있습니다.',
                    'zh-TW': '現在，當您在Youtube上開啟影片（使用Chrome瀏覽器）時，您將擁有有助於學習語言的新功能。',
                    'ja': '今後 (Chrome ブラウザを使用して) Youtube でビデオを開くと、言語学習に便利な新機能が使えます。',
                    'th': 'ในตอนนี้เมื่อคุณเปิดวิดีโอบน Youtube (โดยใช้เบราว์เซอร์ Chrome) คุณจะมีฟีเจอร์ใหม่ที่ช่วยในการเรียนภาษา',
                    'tr': 'Artık Youtube\'ta bir video açtığınızda (Chrome tarayıcı kullanarak), dil öğrenmek için faydalı olan yeni özellikleriniz olacak.'
                },
                'successText2': {
                    'en': 'If you already have Youtube open, please reload the window.',
                    'ko': '이미 YouTube를 열었으면, 윈도우를 다시 로딩하십시오.',
                    'zh-TW': '如果您已經開啟YouTube，請重新載入視窗。',
                    'ja': '既に Youtube が開いている場合は、ウィンドウを再度読み込んでください。',
                    'th': 'หากคุณเปิด Youtube อยู่แล้ว โปรดโหลดหน้าต่างอีกครั้ง',
                    'tr': 'Youtube zaten açıksa lütfen pencereyi yeniden yükleyin.'
                },
                'howToUse': {
                    'en': 'How to use LLY',
                    'ko': 'LLY 이용 방법',
                    'zh-TW': '如何使用LLY',
                    'ja': 'LLY の使い方',
                    'th': 'วิธีการใช้ LLY',
                    'tr': 'LLY nasıl kullanılır'
                },
                'howToFindVideos': {
                    'en': 'How to find videos',
                    'ko': '비디오 검색방법',
                    'zh-TW': '如何找到影片',
                    'ja': 'ビデオの検索方法',
                    'th': 'วิธีการค้นหาวิดีโอ',
                    'tr': 'Videolar nasıl bulunur'
                },
                'studyingWithVideo': {
                    'en': 'Studying with a video',
                    'ko': '비디오를 이용한 학습방법',
                    'zh-TW': '如何透過影片來學習',
                    'ja': 'ビデオを受かった勉強方法',
                    'th': 'วิธีการศึกษาด้วยวิดีโอ',
                    'tr': 'Video ile çalışmak'
                },
                'youtubeSearch1': {
                    'en': 'Youtube has videos on any topic, in all major languages. However, Youtube tries to hide foreign content from you. 😞 So, we made these extra buttons next to the search bar on Youtube: ',
                    'ko': '유튜브는 모든 주요 언어로 된 다양한 주제에 대한 비디오를 제공합니다. 하지만 유튜브는 외부 콘텐츠를 숨기려 합니다. :( 따라서 유튜브 검색 창 옆에 이러한 버튼을 추가했습니다: ',
                    'zh-TW': 'YouTube上有以所有主要語言播放的關於任何主題的影片。但是，Youtube會試圖向您隱藏外國內容。:( 因此，我們在YouTube的搜尋欄旁邊設計了以下額外的按鍵： ',
                    'ja': 'YouTube にはすべての主要言語であらゆるトピックのビデオがあります。しかし、YouTube は外国語のコンテンツがユーザーに表示されにくくなっています。:( そのため、YouTube の検索バーの隣に表示されるこれらの追加ボタンを開発しました: ',
                    'th': 'Youtube มีวิดีโอในทุกหัวข้อในภาษาหลักทั้งหมด อย่างไรก็ตาม Youtube พยายามซ่อนเนื้อหาจากต่างประเทศไม่ให้คุณเห็น :( ดังนั้นเราจึงสร้างปุ่มเพิ่มเติมเหล่านี้ขึ้นมาซึ่งอยู่ถัดจากแถบการค้นหาใน Youtube: ',
                    'tr': 'Youtube\'ta, her konuda, tüm başlıca dillerde videolar var. Ancak, Youtube, yabancı içerikleri sizden gizlemeye çalışıyor. :( Bu yüzden, Youtube\'ta arama çubuğunun yanına bu ekstra düğmeleri koyduk: '
                },
                'youtubeSearch2': {
                    'en': 'The button on the left translates the text in the search box into another language, so you can more easily find videos in the language you study. The button on the right searches for videos with subtitles (made by humans, not automatically by Youtube). ',
                    'ko': '왼쪽 버튼은 검색 창에 있는 텍스트를 다른 언어로 번역해 주어, 배우고 싶은 언어로 된 비디오를 쉽게 찾을 수 있습니다. 오른쪽 버튼은 자막(유튜브가 자동 생성한 것이 아닌 사람이 작성한)이 있는 비디오를 검색합니다.',
                    'zh-TW': '左側的按鈕可將搜寻方塊中的文字翻譯成另一種語言，因此您可以更輕鬆地找到所學語言的影片。右側的按鈕可搜尋帶字幕（由人製作，而非由YouTube自動生成）的影片。',
                    'ja': '左側のボタンが検索欄のテキストを別の言語に翻訳するので、より簡単に勉強中の言語のビデオを検索できます。右側のボタンは字幕付き (YouTube が自動的に付けたものではなく人間によるもの) のビデオを検索します。',
                    'th': 'ปุ่มทางซ้ายมือจะแปลข้อความในช่องค้นหาเป็นภาษาอื่น เพื่อให้คุณสามารถค้นหาวิดีโอในภาษาที่คุณศึกษาอยู่ได้อย่างง่ายดาย ปุ่มทางขวามือจะค้นหาวิดีโอที่มีซับไตเติล (การแปลโดยมนุษย์ ไม่ได้แปลจาก Youtube โดยอัตโนมัติ)',
                    'tr': 'Soldaki düğme arama kutusundaki metni başka bir dile çevirir, böylece daha kolay bir şekilde çalıştığınız dilde videolar bulabilirsiniz. Sağdaki düğme alt yazılı videoları (Youtube tarafından otomatik olarak değil, insanlar tarafından yapılmış) videoları arar. '
                },
                'youtubeSearch3': {
                    'en': 'If you want, you can change your Youtube user interface language into the language you are studying. Then Youtube will show you more videos in that language. ',
                    'ko': '원하는 경우 유튜브 사용자 인터페이스 언어를 학습하는 언어로 변경할 수 있습니다. 그러면 유튜브에서 해당 언어로 된 더 많은 비디오를 보여줄 것입니다. ',
                    'zh-TW': '如果需要，您可以將您的Youtube使用者介面語言更改為您正在學習的語言。接著，Youtube將向您展示更多使用該語言的影片。 ',
                    'ja': 'ご希望に応じて、YouTube のユーザーインターフェースの言語を学習中の言語に変更することもできます。これにより、YouTube にその言語のビデオが表示されやすくなります。 ',
                    'th': 'หากคุณต้องการ คุณสามารถเปลี่ยนภาษาอินเตอร์เฟซผู้ใช้ Youtube ของคุณเป็นภาษาที่คุณกำลังเรียน แล้ว Youtube จะแสดงวิดีโอเพิ่มเติมในภาษาดังกล่าว ',
                    'tr': 'Dilerseniz Youtube kullanıcı dilinizi çalıştığınız dile değiştirebilirsiniz. Bundan sonra, Youtube size o dilde daha fazla video gösterecektir. '
                },
                'youtubeSearch4': {
                    'en': 'Look here for instructions.',
                    'ko': '여기에서 지침을 참조하세요.',
                    'zh-TW': '請看這裡的說明。',
                    'ja': '手順はこちらをご覧ください。',
                    'th': 'ดูคำแนะนำที่นี่',
                    'tr': 'Talimatlar için buraya bakın.'
                },
                'llnDict': {
                    'en': 'Click on a word to see the dictionary. Right click a word to save it.',
                    'ko': '사전을 찾아보려면 단어를 클릭하세요. 오른쪽 클릭하면 단어를 저장할 수 있습니다.',
                    'zh-TW': '點擊單詞可查看字典。右鍵點擊單詞可儲存它。',
                    'ja': '辞書で調べるには単語をクリックします。単語を右クリックして保存します。',
                    'th': 'คลิกคำศัพท์เพื่อดูพจนานุกรม คลิกขวาที่คำศัพท์เพื่อบันทึก',
                    'tr': 'Sözlüğü görmek için bir sözcüğe tıklayın. Kaydetmek için sözcüğe sağ tıklayın.'
                },
                'llnOptions': {
                    'en': 'Click here to open LLY options.',
                    'ko': '여기를 클릭하여 LLY 옵션을 열어 보세요.',
                    'zh-TW': '點擊此處開啟LLY選項。',
                    'ja': 'LLY オプションを開くにはここをクリックします。',
                    'th': 'คลิกที่นี่เพื่อเปิดตัวเลือก LLY',
                    'tr': 'LLY seçeneklerini açmak için buraya tıklayın.'
                },
                'enableDisableLLN': {
                    'en': 'Click here to to enable or disable LLY, to switch back to normal Youtube.',
                    'ko': 'LLY을 활성화, 비활성화하거나 다시 넷플릭스로 돌아가려면 여기를 클릭하세요.',
                    'zh-TW': '點擊此處可啟用或禁用LLY，以切換回通常的Youtube。',
                    'ja': 'LLY, を有効にする、または無効にして通常の Youtube に戻すには、ここをクリックします。',
                    'th': 'คลิกที่นี่เพื่อเปิดหรือปิด LLY เพื่อสลับไปยัง Youtube แบบปกติ',
                    'tr': 'LLY\'yi etkinleştirmek veya devre dışı bırakmak, normak Youtube\'a geri dönmek için buraya tıklayın.'
                },
                'llnPausePlayback': {
                    'en': 'Automatically pause playback at the end of every subtitle.',
                    'ko': '모든 자막에서 플레이백을 자동으로 일시 정지합니다.',
                    'zh-TW': '在每條字幕的末尾自動暫停播放。',
                    'ja': '各字幕の終わりに自動的に一時停止します。',
                    'th': 'หยุดการเล่นโดยอัตโนมัติเมื่อแต่ละคำบรรยายสิ้นสุดลง',
                    'tr': 'Her alt yazının sonunda kayıttan çalmayı otomatik olarak duraklat.'
                },
                'llnTypesOfTranslations': {
                    'en': '',
                    'ko': '',
                    'zh-TW': '',
                    'ja': '',
                    'th': '',
                    'tr': ''
                },
                'llnKeyboardIntro': {
                    'en': 'You can use keyboard keys to control the player.',
                    'ko': '키보드의 키를 다음과 같이 사용하여 플레이어를 제어할 수 있습니다.',
                    'zh-TW': '您可以使用鍵盤鍵來控製播放器。',
                    'ja': 'キーボードのキーでプレイヤーをコントロールできます。',
                    'th': 'คุณสามารถใช้ปุ่มคีย์บอร์ดเพื่อควบคุมเครื่องเล่น',
                    'tr': 'Oynatıcıyı kumanda etmek için klavye tuşlarını kullanabilirsiniz.'
                },
                'llnKeyboard1': {
                    'en': '\'a\' for the previous subtitle.',
                    'ko': '\'a\': 이전 자막',
                    'zh-TW': '「a」跳至上一條字幕。',
                    'ja': '「a」で前の字幕に戻ります。',
                    'th': '\'a\' สำหรับคำบรรยายก่อนหน้า',
                    'tr': 'Önceki alt yazı için \'a\'.'
                },
                'llnKeyboard2': {
                    'en': '\'s\' to repeat a subtitle.',
                    'ko': '\'s\': 자막 반복',
                    'zh-TW': '「s」重複一條字幕。',
                    'ja': '「s」で字幕を繰り返します。',
                    'th': '\'s\' เพื่อดูคำบรรยายซ้ำ',
                    'tr': 'Bir alt yazıyı tekrarlamak için \'s\'.'
                },
                'llnKeyboard3': {
                    'en': '\'d\' for the next subtitle.',
                    'ko': '\'d\': 다음 자막',
                    'zh-TW': '「d」跳至下一條字幕。',
                    'ja': '「d」で次の字幕に進みます。',
                    'th': '\'d\' สำหรับคำบรรยายถัดไป',
                    'tr': 'Sonraki alt yazı için \'d\'.'
                },
                'llnKeyboard4': {
                    'en': '\'space bar\' to play/pause playback',
                    'ko': '\'스페이스 바’: 플레이/플레이백 일시 중지',
                    'zh-TW': '「空格鍵」播放/暫停播放',
                    'ja': '「スペースキー」で再生・一時停止します。',
                    'th': '\'space bar\' เพื่อเล่น/หยุดการเล่น',
                    'tr': 'Kayıttan çalmayı oynatmak/duraklatmak için \'ara çubuğu\'.'
                },
                'llnKeyboardOuttro': {
                    'en': 'Look in the settings to find more keyboard shortcuts.',
                    'ko': '더 많은 키보드 단축키를 찾아보시려면 설정을 확인하십시오.',
                    'zh-TW': '查看設定可找到更多的快速鍵。',
                    'ja': '設定で他のキーボードショートカットを確認できます。',
                    'th': 'ดูในส่วนการตั้งค่าเพื่อค้นหาทางลัดคีย์บอร์ดเพิ่มเติม',
                    'tr': 'Daha fazla klavye kısayolu bulmak için ayarlara bakın.'
                },
                'catalogue': {
                    'en': 'Catalogue',
                    'ko': '카탈로그',
                    'zh-TW': '目錄',
                    'ja': 'カタログ',
                    'th': 'แค็ตตาล็อก',
                    'tr': 'Katalog'
                },
                'catalogueText': {
                    'en': 'If you study English, you can look in this catalogue for some videos to start with. But, also try searching for videos on a topic you find interesting.',
                    'ko': '영어를 배울 경우, 이 카탈로그에서 영어를 학습할 비디오를 찾을 수 있습니다. 게다가 관심 있는 주제의 비디오도 검색할 수 있습니다.',
                    'zh-TW': '如果您學習英語，則可以在此目錄中找到一些用於入門的影片。不過，也請嘗試搜尋關於您感興趣的主題的影片。\n',
                    'ja': '英語を学んでいる方は、このカタログのビデオから始めることができますが、興味のあるトピックのビデオも検索してみましょう。',
                    'th': 'ถ้าคุณเรียนภาษาอังกฤษ คุณสามารถดูแค็ตตาล็อกนี้เพื่อหาวิดีโอในการเริ่มต้น แต่คุณยังสามารถลองค้นหาวิดีโอเกี่ยวกับหัวข้อที่น่าสนใจสำหรับคุณได้เช่นกัน',
                    'tr': 'İngilizce çalışıyorsanız bazı videolar için önce bu kataloğa bakabilirsiniz. Ancak, ilginç bulduğunuz bir konudaki videoları aramayı da deneyebilirsiniz.'
                },
                'catalogueText2': {
                    'en': '',
                    'ko': '',
                    'zh-TW': '',
                    'ja': '',
                    'th': '',
                    'tr': ''
                },
                'moreInfo': {
                    'en': 'More Information',
                    'ko': '더 많은 정보',
                    'zh-TW': '更多資訊',
                    'ja': '詳細',
                    'th': 'ข้อมูลเพิ่มเติม',
                    'tr': 'Daha Fazla Bilgi'
                },
                'moreInfoText': {
                    'en': 'Click above to see advice for using the extension.',
                    'ko': '확장 프로그램 사용에 대한 도움말을 보려면 여기를 클릭하십시오. 이 정보는 현재 영어로만 제공됩니다. :-/',
                    'zh-TW': '點擊此處查看使用擴展程式的建議。此資訊目前僅提供英文版本。: -/',
                    'ja': '拡張機能の使い方に関するアドバイスはここをクリックしてください。この情報は現在英語のみで提供されています。:-/',
                    'th': 'คลิกที่นี่เพื่อดูคำแนะนำในการใช้ส่วนขยาย ในปัจจุบันข้อมูลนี้มีอยู่ในภาษาอังกฤษเท่านั้น :-/',
                    'tr': 'Uzantının kullanıma ilişkin önerileri görmek için buraya tıklayın.'
                },

            }
        } // end of data
    });
</script>

</body>

</html>
